<div class="well">
	<% if current_user && current_user.attends_for_meetup?(meetup) %>	
		<p> You're going to this meetup! </p>
		<p> <%= link_to 'Cancel', attend_meetup_path(meetup), class: 'btn btn-danger', method: 'delete' %>
	<% else %>
		<p> Would you like to attend this meetup? </p>
		<p> <%= link_to "Attend for this mettup", attend_meetup_path(meetup), class: 'btn btn-success', method: 'post' %>
	<% end %>
</div>