<fieldset>
  <%= form_for @meetup do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label :state %>
      <%= f.text_field :state %>
    </p>
    <p>
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </p>
    <p>
      <%= f.label :start_at %>
      <%= f.text_field :start_at %>
    </p>
    <p>
      <%= f.label :ends_at %>
      <%= f.text_field :ends_at %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>

    <p class="actions">
      <%= f.submit class: 'btn btn-primary'  %>
      <%= link_to 'Cancel', meetups_path, class: 'btn' %>
    </p>
  <% end %>
</fieldset>
