<section class="meetups well">
<h2> <%= meetup.name %> </h2>

<h3> Location </h3>
<%= meetup.address %>
<%= "#{meetup.city} #{meetup.state} #{meetup.zip}" %>

<h3> Date and hour </h3>
<p> <strong> Start at </strong> <%= meetup.start_at %> </p>
<p> <strong> Ends at </strong> <%= meetup.ends_at %> </p>

<h3> Description </h3>
<%= meetup.description %>

<div class="attend-info">
	<%= render :partial => 'attend', locals: { meetup: meetup} %>
</div>

<% if can? :manage, meetup %>
<p class="actions">
	<%= link_to "Show", meetup_path(meetup), class: 'btn btn-primary' %>
	<%= link_to "Delete", meetup, class: 'btn btn-danger', confirm: "Are you sure? ", method: 'delete' %>
</p>
<% end %>


</section>	