<div class="meetups">
	<% if @meetups.present? %>
		<%= render @meetups %>
	<% else %>
		<p> Sorry! There are no meetups at the moment </p>
	<% end %> 
	<% if can? :manage, Meetup.new %>
	<p class='actions'>
		<%= link_to 'Add new meetup', new_meetup_path, class: 'btn btn-primary' %>
	</p>
	<% end %>
</div>