
<div class="row-fluid">
  <div class="span6">
    <%= form_for @user do |f| %>
      <%= fields_for @profile do |field| %>
        <p>
          <%= field.label :name %>
          <%= field.text_field :name %>
        </p>
        <p>
          <%= field.label :age %>
          <%= field.text_field :age %>
        </p>
      <% end %>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p class="actions">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', root_url, class: 'btn' %>
      </p>
    <% end %>
  </div>
  <div class="span6">
    <p>
      <%= image_tag @user.profile.avatar.url, alt: @user.email %>
      <%= link_to 'Change Avatar', edit_avatar_path(@user), class: 'btn btn-success' %>
    </p>
  </div>
</div>
