<div class="users">
  <h1>Users</h1>
  <% if @users.present? %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Email</th>
          <th>Name</th>
          <th>Age</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.profile.avatar.url, class: 'avatar-thumb' %></td>
            <td><%= user.email %></td>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
            <td>
              <div class="btn-group">
                <% if can? :manage, user %>
                  <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(user), class: 'btn' %>
                  <%= link_to '<i class="icon-trash"></i>'.html_safe, user, class: 'btn btn-danger', method: 'delete' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>There are no users for this users group!</p>
  <% end %>

  <% unless current_user %>
    <p><%= link_to 'Register for our User Group!', register_path, class: 'btn btn-primary' %></p>
  <% end %>
</div>
