<% if @user.errors.any? || @profile.errors.any? %>
  <div class="alert alert-error">
    <% [@profile, @user].each do |resource| %>
      <% resource.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <%= fields_for @profile do |field| %>
    <p>
      <%= field.label :name %>
      <%= field.text_field :name %>
    </p>
    <p>
      <%= field.label :age %>
      <%= field.text_field :age %>
    </p>
  <% end %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', root_url, class: 'btn' %>
  </p>
<% end %>
