<div class="hero-unit">
  <h1>Meetups group.</h1>
   <hr>
  <p>Welcome to the home of the Home page. </p>
  <p>We hold meeputs every month Monday at the 2 o'clock. </p>
</div>
<div class="row-fluid">
  <div class="span4 well">
    <h2>Our Next Meetup</h2>
    <h5><em>March 15, 2014</em></h5>
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd>Database Design</dd>
      <dt>Presenter(s)</dt>
      <dd></dd>
    </dl>
    <h5>About</h5>
    <p>
	There are several things you need to know to create a properly-organized relational database. In this course, you’ll not only learn best practices in relational database design, you’ll also see how to use simple tools to design a database based on your own example application. If you’re new to SQL, then this course will help you kickstart your new database design.
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4 well">
    <h2>Our Last Meetup</h2>
    <h5><em>September 20, 2012</em></h5>
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd>What’s Coming to JavaScript</dd>
      <dt>Presenter(s)</dt>
      <dd>None</dd>
    </dl>
    <h5>About</h5>
    <p>
    JavaScript is the most popular programming language in the world, but that doesn’t mean it’s perfect. In fact, it’s far from ideal, but that’s starting to change thanks to the ECMAScript 6 specification. Many key features and concepts that JavaScript lacks are finally being added to the language. In this course, we’ll look at some of these new features and how we can use them.
    </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4 well">
    <h2>Announcements</h2>
    <h5>Giveaways!</h5>
    <p>
    We wll be giving tickets to next conference about Ruby docs.
    </p>
    <p><a class="btn" href="#">View More Announcements &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->

